<div class="right">
    <form method="get" action="/quizzes">
        <input type="text" name="search" value="<%= locals.search || '' %>"
               placeholder="question to search" autocomplete="off" />
        <input type="submit" value="Search">
    </form>
</div>
<h1>
    Questions:
</h1>

<% for (let i in quizzes){ %>

    <% let quiz = quizzes[i]; %>


    <table>
        <tr>
            <td>
                <a href="/quizzes/<%= quiz.id%>/play"> <%= quiz.question %> </a>
            </td>
            <td>
                <a href="/quizzes/<%= quiz.id%>"> <button>show</button> </a>
            </td>
            <td>
                <a href="/quizzes/<%= quiz.id%>/edit"> <button>edit</button> </a>
            </td>
            <td>
                <a href="/quizzes/<%= quiz.id%>?_method=DELETE"
                onClick="return confirm('Delete: <%= quiz.question%>');"> <button>delete</button> </a>
            </td>
        </tr>

    </table>
<% } %>

<a href="/quizzes/new"> <button> Create a new Question </button></a>



