<div class="right">
    <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %>) </small>
</div>

<h1>
    Play:
</h1>

<form method="get" action="/quizzes/<%= quiz.id %>/check">
    <div>
         Question:
        <b> <%= quiz.question%> </b>
    </div>
    <div>
        <input type="text"
               name="answer" value="<%= answer %>"
               placeholder="Answer"> <a href="/quizzes/<%=quiz.id%>/check">
        <button> Check </button></a>
    </div>

</form>

<h1>
    Tips:
</h1>

<% if (session.user) { %>
    <% include ../tips/new %>
<% } %>

<% var tips = quiz.tips; %>

<% include ../tips/index %>


<a href="/goback"><button>Go back</button></a>